.settings/
.DS_Store
.idea
*/*.iml
.gradle/*
*/.gradle
gradle/*
app/obj/*
app/bin/*
app/gen/*
app/libs/*
app/build/*
extern/DaoGenerator/.gradle/1.8/taskArtifacts/cache.properties
extern/DaoGenerator/.gradle/1.8/taskArtifacts/cache.properties.lock
extern/DaoGenerator/.gradle/1.8/taskArtifacts/fileHashes.bin
extern/DaoGenerator/.gradle/1.8/taskArtifacts/fileSnapshots.bin
extern/DaoGenerator/.gradle/1.8/taskArtifacts/outputFileStates.bin
extern/DaoGenerator/.gradle/1.8/taskArtifacts/taskArtifacts.bin
